<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @harsha_blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @harsha_blog.body %>
  <h2>harsha</h2>
</p>

<%= link_to 'Edit', edit_harsha_blog_path(@harsha_blog) %> |
<%= link_to 'Back', harsha_blogs_path %>
